
body{
    background-color: aquamarine;
}
@media screen and (max-width:1920px){
    body{background-color: aqua;}
}
@media screen and (max-width:1240px){
    body{background-color: rgb(65, 65, 65);}
}
@media screen and (max-width:768px){
    body{background-color: #000;}
    h1{color: #fff;}
}